<div class="messages-wrap">
  <mat-toolbar color="primary" class="inbox-toolbar">
    <!-- multiple events select and control -->
    <mat-checkbox (change)="selectToggleAll($event)" [indeterminate]="indeterminateState" [checked]="selectAll" class="inbox-toggle-all mr-1"><small>All</small></mat-checkbox>
    <button mat-icon-button matTooltip="Add event" (click)="eventPopUp({}, true)">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Delete" *ngIf="indeterminateState || selectAll" (click)="deleteSelectedEvents()">
      <mat-icon>delete</mat-icon>
    </button>
    <span fxFlex></span>
    <mat-form-field *ngIf="this.temEvents.length > 0" style="font-size: 15px; width: 30%; margin-top: 10px;">
      <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)'>
    </mat-form-field>
    <p *ngIf="this.temEvents.length > 0" class="mat-select-lable"> Page Size: </p>
    <mat-select *ngIf="this.temEvents.length > 0" class="mat-raised-select" [(value)]="pageSize" (selectionChange)="changeValue()"
      placeholder="Favorite food">
      <mat-option *ngFor="let item of pageSizeArray" [value]="item">{{item}}</mat-option>
    </mat-select>
  </mat-toolbar>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let eventObj of events" expanded="false" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-checkbox (change)="selectToggleOne($event, eventObj)" [checked]="eventObj.selected" (click)="stopProp($event)"
            class="mail-checkbox hide-on-open"></mat-checkbox>
          <span style="width: 130px; overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;"
            class="hide-on-open">{{ eventObj.name }}</span>
          <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center" class="show-on-open">
            <!-- <img [src]="eventObj.file" alt="" class="inbox-face mr-1"> -->
            <div fxLayout="column">
              <span class="m-0">{{ eventObj.name }}</span>
              <small class="text-muted m-0">Start Date : {{eventObj.startDateTime | date}}, End Date :
                {{eventObj.endDateTime | date}}</small>
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <span class="mail-subject text-sm mat-color-default hide-on-open">
            <mat-chip *ngIf="eventObj.status === 'ACTIVE'" mat-sm-chip color="primary" [selected]="true">Active
            </mat-chip>
            <mat-chip *ngIf="eventObj.status === 'INACTIVE'" mat-sm-chip color="warn" [selected]="true">Inactive
            </mat-chip>
          </span>
          <span fxFlex></span>
          <span class="text-sm" fxHide.lt-sm="true">{{eventObj.createdDate | relativeTime}}</span>
          <button mat-icon-button [matMenuTriggerFor]="msgMenu" (click)="stopProp($event)" class="hidden-on-open">
            <mat-icon class="text-muted">more_vert</mat-icon>
          </button>
          <mat-menu #msgMenu="matMenu">
            <button mat-menu-item (click)="eventPopUp(eventObj, false)">
              <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-menu-item (click)="deleteOneEvent(eventObj)">
              <mat-icon>delete</mat-icon> Delete
            </button>
          </mat-menu>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
        <div fxFlex="30" class="pr-1">
          <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
            <img style="padding: 10px;max-height: 400px;" mat-card-image [src]="eventPosterUrl+eventObj.id" alt="Photo of a Shiba Inu">
          </mat-card>
        </div>
        <div fxFlex="70" class="pr-1">
          <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
            <mat-card-content>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
                <small class="text-muted">Event Description</small>
              </div>
              <p style="padding-top: 10px;" class="md-body-1">{{ eventObj.description }}</p>
              <mat-divider></mat-divider>
              <div class="mt-2">
                <small class="text-muted">Start Date & Time</small>
                <h6 class="m-0 font-normal">{{ eventObj.startDateTime | date:'MMM d, y, h:mm a'}}</h6>
              </div>
              <div class="mt-1">
                <small class="text-muted">End Date & Time</small>
                <h6 class="m-0 font-normal">{{ eventObj.endDateTime | date:'MMM d, y, h:mm a'}}</h6>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-toolbar color="primary" class="inbox-toolbar" *ngIf="this.events.length > 0" style="font-size: 12px;">
    <div class="pagination">{{totalRecords}} Created,</div>
    <div class="pagination ml-1">{{quota}} Quota</div>
    <span fxFlex></span>
    <ng-container>
      <nav aria-label="Promotion Page Navigation" style="color: black;">
        <ul class="pagination" *ngIf="totalPages.length > 1">
          <li class="page-item" [ngClass]="{'disabled':pageNumber <= 1}">
            <a class="page-link" (click)="fetchAllEvents(pageNumber-1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPages" [ngClass]="{'active':pageNumber === page}">
            <a class="page-link" (click)="fetchAllEvents(page)">
              {{page}}
            </a>
          </li>
          <li class="page-item" [ngClass]="{'disabled':pageNumber >= totalPages.length}">
            <a class="page-link" (click)="fetchAllEvents(pageNumber+1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </ng-container>
  </mat-toolbar>
  <div *ngIf="this.temEvents.length === 0 && this.events.length === 0" fxLayout="row" fxLayoutAlign="center" style="margin-top: 10rem;"
    fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="text-center">
      <h1 class="text-muted">Create New Event</h1>
    </div>
    <div fxFlex="100" class="text-center">
      <h2 class="text-muted">Click "Add" Button</h2>
    </div>
  </div>
</div>