<form [formGroup]="productForm" (ngSubmit)="submit()">
  <mat-toolbar matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{data.title}}</span>
    </div>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography mt-1">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">



      <div fxFlex="33" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput [formControl]="productForm.controls['name']" required name="name" letterOnly placeholder="Product Name">
        </mat-form-field>
      </div>

      <!-- Category dropdown -->
      <div fxFlex="34" class="pr-1">

        <mat-form-field class="full-width">
          <mat-select  [formControl]="productForm.controls['categoryId']" required placeholder="Select A Category">
            <mat-option>none</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Quantity Input -->
      <div fxFlex="33" class="pr-1">
        <mat-form-field class="full-width">
          <input type="number" matInput name="quantity" [formControl]="productForm.controls['quantity']"
            positiveNumberOnly required placeholder="Quantity">
        </mat-form-field>
      </div>


      <!-- Description Input -->
      <div fxFlex="34" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="desc" [formControl]="productForm.controls['description']" required name="description"
            placeholder="Description">
        </mat-form-field>
      </div>

      <!-- Batch Number Input -->
      <div fxFlex="33" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="batchNumber" [formControl]="productForm.controls['batchNumber']"
            positiveNumberAndLetterOnly required placeholder="Batch Number">
        </mat-form-field>
      </div>


      <!-- Expire Date Input -->
      <div fxFlex="33" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="expireDate" [min]="tomorrow" [matDatepicker]="picker" [formControl]="productForm.controls['expireDate']"
            required placeholder="Expire Date">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>


      <!-- Community AutoComplete box -->
      <div fxFlex="33" class="pr-1">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Select A Community" matInput [formControl]="productForm.controls['communityId']" [matAutocomplete]="auto" (focusout)="communityOnFocusOut($event)">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCommunitySelectionChanged($event)">
            <mat-option *ngFor="let option of communityFilteredOption | async; let i = index" [value]="communityIDs[i]">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>

      <!-- Youtube Video URL Input -->
      <div fxFlex="33" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="videoUrl" [formControl]="productForm.controls['videoUrl']"  placeholder="Video URL" type="text"  >
        </mat-form-field>
      </div>



      <!-- --------- New Code ----------------- -->

      <!-- --------- hidden file input --------- -->
      <input (change)="onSelectFile($event)" #productImgs type="file" [formControl]="productForm.controls['file']"
        multiple style="display: none" />


      <!-- --------- file input click button --------- -->
      <!-- *ngIf="data.isNew"  -->
      <div layout-margin layout-padding>
        <button mat-raised-button class="mr-1" (click)="productImgs.click()"
        [disabled]="this.maxUploadableFileCount === null || this.maxUploadableFileCount < 1 ?
        (false) :
        (this.currentTotalImageCount === this.maxUploadableFileCount)"
          type="button">
          Browse Images
          <span *ngIf="this.maxUploadableFileCount === null || this.maxUploadableFileCount < 1 ?
          (false) :
          (this.currentTotalImageCount > 0)"> ({{this.currentTotalImageCount}} / 4)</span>
        </button>
      </div>

      <!-- --------- start images preview container --------- -->
      <div id="cp_image_preview_container" fxLayout="row" fxLayoutWrap="wrap" layout-align="center">

        <!-- --------- start card --------- -->
        <div [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}" *ngFor='let url of urls; let i = index' fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" style="display: flex;">
          <mat-card class="p-0">
            <button type="button" class="close" aria-label="Close" (click)="removeSelectedImg(i)">
              <span aria-hidden="true">&times;</span>
            </button>
            <img [src]="url">
          </mat-card>
        </div>
        <!-- --------- end card --------- -->

      </div>
      <!-- --------- end images preview container --------- -->






    </div>

  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="productForm.invalid">Save</button>
    <span fxFlex></span>
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
  </mat-dialog-actions>


</form>
