<form [formGroup]="interactForm" id="invitee-interaction-view">
  <div class="page-wrap height-100 background-survey-signin" *ngIf="showLogin">
    <div class="session-form-hold set-form-left">
      <mat-card id="login-card">
        <mat-card-content>
          <div id="login-form">
            <div class="text-center pb-1" id="login-form-logo">
              <img src="assets/images/truverus/Tru-Verus-Logo.png" alt="">
              <p class="text-muted m-0">Welcome, Please Signin to your Account.</p>
              <h6 *ngIf="loginError" class="m-1 form-error-msg"> {{loginErrorMsg}} </h6>
            </div>
            <mat-form-field class="full-width">
              <input type="text" name="username" matInput placeholder="Username" value="" [formControl]="interactForm.controls['username']"
                required name="username">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input type="password" name="password" matInput placeholder="Password" value="" [formControl]="interactForm.controls['password']"
                required name="password">
            </mat-form-field>

            <button mat-raised-button class="mat-primary full-width mb-1" (click)="doLog()" [disabled]="interactForm.invalid">Login
              to Survey</button>
          </div>


            <span *ngFor="let lang of langs">{{lang.name}}</span>

            <mat-form-field class="full-width">
              <mat-select [formControl]="interactForm.controls['language']" required placeholder="Select Language">
                <mat-option>none</mat-option>
                <mat-option *ngFor="let lang of supportLangs" [value]="lang">{{ lang.name }}</mat-option>
              </mat-select>
            </mat-form-field>


        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>

<div fxFlex="100" fxLayoutAlign="center center" id="survey-view-survey" class="background-survey-form">

  <header>
    <mat-toolbar fxLayoutAlign="center center" matDialogTitle class="mat-primary m-0">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div mat-card-avatar class="example-header-image"></div>
      </div>
      <!-- <mat-card-title class="example-card-title">Nova Scotia Engineers</mat-card-title> -->
      <span class="example-card-title hidden-xs">Clear Picture</span>
      <span class="example-spacer"></span>
      <span *ngIf="loggedInviteeName" class="example-invite">Hi, {{loggedInviteeName}}</span>
    </mat-toolbar>
  </header>

  <div class="survey-page-wrap" *ngIf="!showLogin">
    <div class="survey-form-hold">
      <mat-card id="finishedSurveyMsg" class="survey-mat-card">
        <mat-card-content>
          <h5>The {{origin}} is Previously Submitted </h5>
          <h6>Summary is provided bellow</h6>
        </mat-card-content>
      </mat-card>
      <mat-card class="survey-mat-card">
        <mat-card-content>
          <div id="surveyElement"></div>
          <div id="surveyResult"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-card-content>

    <div class="pb-1" style="text-align: center">
      <a id="btnViewSummary" mat-raised-button class="mr-1" (click)="viewSummary()">View Summary</a>
      <a id="btnViewSurvey" mat-raised-button class="mr-1" (click)="viewSurvey()">Edit {{origin}}</a>
      <a id="btnSubmitSurvey" mat-raised-button color="primary" class="mr-1" (click)="submitSurvey()">Submit
        {{origin}}</a>
      <a id="btnAnswerLater" mat-raised-button color="primary" class="mr-1" (click)="answerLater()">Answer Later</a>
    </div>

  </mat-card-content>


  <div id="survey-view-footer">
    <div class="container custom-center">
      <span>Powered by</span>
      <!-- <img src="assets/images/cp_logo_text.png" alt=""> -->
      <img src="assets/images/truverus/TruVerus_Logo_small.png" alt="">
    </div>
  </div>

</div>

<script>
  $.material.init();
</script>
