// future survey scss file : PRASAD KUMARA The FLASH Sprint
.background-future-survey-view {
  background-image: url("assets/images/survey_signin/test_bg12.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
}
