
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img src="assets/images/survey-icon.jpg" alt="">
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">Survey Service</div>
        <div class="subtitle mb-05">Clear Picture Authentica</div>
        <div class="text-muted"> Provides the tools you need to easily create questionnaires.</div>
      </div>

      <div class="profile-nav">
        <mat-nav-list>
          <mat-list-item routerLink="/surveys/summery" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>
            Survey Summary
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/surveys/setting" routerLinkActive="list-item-active">
            <mat-icon>settings</mat-icon>
            Survey Settings
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item routerLink="/surveys/builder_v1" routerLinkActive="list-item-active">
            <mat-icon>settings</mat-icon>
            Survey Builder
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </div>
    </mat-card>



  </div>

<!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <router-outlet></router-outlet>
  </div>
</div>
