<mat-card class="p-10" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">

    <mat-form-field class="margin-333" style="width: 99%">
      <input matInput placeholder="Search by name..." value="" (keyup)='onSearch($event)'>
    </mat-form-field>

    <div class="m-333">
      <span fxFlex></span>
      <button mat-raised-button class="mb-05" (click)="openUserCreatePopup()" color="accent"
        [roleAuthorization]="'pu-c'">Add User</button>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="pl-1" width="80px"></th>
          <th class="pl-1">Name</th>
          <th>Email</th>
          <th width="180px">Role</th>
          <th>Status</th>
          <th width="150px" class="">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of users;">
          <td class="pt-1 pb-1">
            <img mat-list-avatar class="" src="assets/images/face-1.jpg" alt=""
              style="flex-shrink: 0; width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
          </td>
          <td class="pt-1 pb-1">{{ row?.accountName }}</td>
          <td class="pt-1 pb-1">{{ row?.email }}</td>
          <td class="pt-1 pb-1">
            <mat-chip mat-sm-chip color="primary" [selected]="true">{{row?.role.name}}</mat-chip>
          </td>
          <td class="pt-1 pb-1">
            <mat-chip mat-sm-chip color="{{statusArray[row?.status].style}}" selected>
              {{statusArray[row?.status].display}}</mat-chip>
          </td>
          <td class="pt-1 pb-1">

            <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openUserUpdatePopUp(row)" [roleAuthorization]="'pu-u'">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="openCommunityUpdatePopUp(row)" [roleAuthorization]="'puc-u'">
                <mat-icon>assignment_ind</mat-icon>
                <span>Community</span>
              </button>
              <button mat-menu-item (click)="openCategoryUpdatePopUp(row)" [roleAuthorization]="'pucat-u'">
                <mat-icon>assistant</mat-icon>
                <span>Category</span>
              </button>
              <button mat-menu-item *ngIf="row?.status !== 'DELETED'" (click)="removeUser(row)"
                [roleAuthorization]="'pu-d'">
                <mat-icon>delete</mat-icon>Delete
              </button>
            </mat-menu>

          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <div class="m-333">
              <mat-chip-list aria-label="Fish selection" fxLayoutAlign="center">
                <mat-chip>{{this.usage}} Used</mat-chip>
                <mat-chip>{{this.quota}} Allocated</mat-chip>
              </mat-chip-list>
              <span fxFlex></span>

              <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = onPageChange($event)">
              </mat-paginator>

            </div>
          </td>
        </tr>
      </tfoot>
    </table>

  </mat-card-content>

</mat-card>