<form [formGroup]="interactForm">
  <div class="page-wrap height-100 background-survey-signin" *ngIf="showLogin">
    <div class="session-form-hold">
      <mat-card>
        <mat-card-content>
          <div class="text-center pb-1">
            <img src="assets/images/signin/logo.jpg" alt="">
            <p class="text-muted m-0">Sign in to your account</p>
          </div>

          <mat-form-field class="full-width">
            <input type="password" name="password" matInput placeholder="Password" value="" [formControl]="interactForm.controls['password']"
              required name="password">
          </mat-form-field>

          <button mat-raised-button class="mat-primary full-width mb-1" (click)="doLog()">Login to Survey</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>



<div fxFlex="100" fxLayoutAlign="center center" id="survey-view-survey" class="background-survey-form">
  <mat-toolbar fxLayoutAlign="center center" matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{ surveyTitle }}</span>
    </div>
  </mat-toolbar>

  <div class="survey-page-wrap height-100" *ngIf="!showLogin">
    <div class="survey-form-hold">
      <mat-card>
        <mat-card-content>
          <div id="surveyElement"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div id="survey-view-footer">
    <div class="container custom-center">
      <span>Powered by</span>
      <img src="assets/images/cp_logo_text.png" alt="">
    </div>
  </div>

</div>
