@import url('https://fonts.google.com/specimen/Poppins');

.margin-top {
  margin-top: 20px;
}

.error-header {
  font-family: Poppins;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
}

.error-message {
  font-family: Poppins;
  font-size: 16px;
  text-align: center;
}

.ok-btn {
  background-color: #2bb673;
  color: white;
  font-size: 16px;
}

.close-btn {
  background-color: #ef4136;
  color: white;
  font-size: 16px;
}

.action-section {
  padding-left: 7rem;
  padding-right: 7rem;
}
