<mat-toolbar matDialogTitle class="m-0" style="
  background-color: #d9534f;
  color: white;
  border-bottom: 1px solid #e5e5e5;
">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{data.title}}</span>
  </div>
</mat-toolbar>
<mat-dialog-content class="mat-typography mt-1 mb-1">
  <span style="font-size: 16px;">{{ data.message }}</span>
</mat-dialog-content>
<mat-dialog-actions style="border-top: 1px solid #e5e5e5;">
  <span fxFlex></span>
  <button mat-button type="button" (click)="dialogRef.close(false)">Close</button>
</mat-dialog-actions>
