<mat-toolbar matDialogTitle class="m-0 info-title">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{ data.title }} Information!</span>
  </div>
</mat-toolbar>
<mat-dialog-content class="mat-typography mt-1 mb-1">
  <span class="info-font">{{ data.message }}</span>
  <div class="info-link">
    <a routerLink="{{ data.linkData.url }}" (click)="dialogRef.close(false)">{{ data.linkData.urlDescription }}</a>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="info-action">
  <span fxFlex></span>
  <button mat-button type="button" (click)="dialogRef.close(false)">Close</button>
</mat-dialog-actions>
