<div fxLayout="row wrap" class="pt-2">
  <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="25">
    <mat-card>
      <form class="example-form">
        <mat-form-field class="full-width">
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select required placeholder="Select A Country">
            <mat-option [value]="">Canada</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select required placeholder="Select Batch">
            <mat-option [value]="">10029</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select required placeholder="Select Region/Regions">
            <mat-option [value]="">Canada Toronto</mat-option>
          </mat-select>
        </mat-form-field>
      </form>

    </mat-card>
  </div>
  <div fxFlex="50" fxFlex.gt-sm="75" fxFlex.sm="75">
    <mat-card>
      <mat-card-title class="">
        <div class="card-title-text">Vertical Bar chart</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <canvas class="chart" baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="doughnutOptions"
          [colors]="doughnutChartColors" [chartType]="pieChartType" (chartHover)="pieChartHovered($event)" (chartClick)="pieChartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>