<!-- First row -->
<div class="pt-2">
  <mat-card class="p-0" [@animate]="{ value: '*', params: { scale: '.9', delay: '300ms' } }">
    <div fxLayout="row wrap">
      <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light">
          <mat-icon class="text-green" color="warn">show_chart</mat-icon>
          <h4 class="m-0">{{statObj === null ? 0 : (statObj.total_auth === null ? "0" : statObj.total_auth)}}</h4>
          <small class="m-0 ">Total Authentication</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light">
          <mat-icon class="text-blue">location_city</mat-icon>
          <h4 class="m-0 ">{{statObj === null ? 0 : (statObj.factories === null ? "0" : statObj.factories)}}</h4>
          <small class="m-0 ">Factories</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light">
          <mat-icon class="text-green" color="primary">shop</mat-icon>
          <h4 class="m-0 ">{{statObj === null ? 0 : (statObj.merchandizers === null ? "0" : statObj.merchandizers)}}</h4>
          <small class="m-0 ">Merchandizers</small>
        </div>
      </div>
      <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="50">
        <div class="text-center pt-1 pb-1 border-right-light">
          <mat-icon class="text-blue" color="accent">person</mat-icon>
          <h4 class="m-0 ">{{statObj === null ? 0 : (statObj.customer === null ? "0" : statObj.customer)}}</h4>
          <small class="m-0 ">Customers</small>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<!--/ End first row -->
<div fxLayout="row wrap" class="pt-2">
  <div fxFlex="50" fxFlex.gt-sm="25" fxFlex.sm="25">
    <mat-card>
      <form class="example-form">

        <mat-form-field class="full-width">
          <input matInput [formControl]="itemForm.controls['product']" placeholder="Search Product" [matAutocomplete]="autoProduct">
          <mat-autocomplete autoActiveFirstOption #autoProduct="matAutocomplete" (optionSelected)="selectedProduct($event)"
            [displayWith]="displayFn">
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
              {{product.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field *ngIf="itemForm.controls['product'].value" class="full-width">
          <input matInput [formControl]="itemForm.controls['countries']" placeholder="Search Country" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectedCountry($event)"
            [displayWith]="displayFn">
            <mat-option *ngFor="let country of filteredCountry | async" [value]="country">
              {{country.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


    </mat-card>
  </div>
  <div fxFlex="50" fxFlex.gt-sm="75" fxFlex.sm="75">
    <mat-card>
      <mat-card-title class="">
        <div class="card-title-text">Vertical Bar chart</div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <canvas class="chart" baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="doughnutOptions"
          [colors]="pieChartColors" [chartType]="pieChartType" (chartHover)="pieChartHovered($event)" (chartClick)="pieChartClicked($event)"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>