<mat-card class="p-0">

  <mat-tab-group>

    <mat-tab label="Category">

      <mat-card-content class="mt-3">

        <form [formGroup]="categoryFormGroup">

          <ng-template matStepLabel>Category</ng-template>

          <mat-form-field class="matAutocomplete-chip-list">

            <mat-chip-list #chipList>

              <mat-chip *ngFor="let category of selectedCategories" [selectable]="selectable" [removable]="removable"
                (removed)="remove(category)">
                {{category.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>

              <input matInput placeholder="Select category..." #categoryInput [formControl]="categoryCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (focus) = "onFocusCategoryDD()"
                (matChipInputTokenEnd)="add($event)" [matChipInputAddOnBlur]="addOnBlur" aria-label="Category">

            </mat-chip-list>    
        
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">

              <mat-option *ngFor="let category of filteredCategories | async" [value]="category.id">
                <span>{{category.name}}</span>
              </mat-option>

            </mat-autocomplete>

          </mat-form-field>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">

            <div fxFlex="100" class="mt-1">

              <button mat-raised-button color="primary" matStepperNext [disabled]='categoryFormStatus' (click)="updateCategory()">Save</button>
              <span fxFlex></span>
              <button mat-button color="warn" type="button" (click)="restCategory()">Cancel</button>

            </div>
            
          </div>

        </form>

      </mat-card-content>

    </mat-tab>

  </mat-tab-group>
</mat-card>