<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{data.title}}</span>
  </div>
</mat-toolbar>
<mat-dialog-content class="mat-typography mt-1" style="overflow: unset; max-height: unset;">
  <form [formGroup]="roleFormGroup">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput required formControlName="name" placeholder="Role Name">
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput required formControlName="description" placeholder="Description">
        </mat-form-field>
      </div>
    </div>
  </form>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="pr-1">
      <span>Select Role Authorities</span>
    </div>
    <div fxFlex="100" class="pr-1">
      <mat-tab-group>
        <div *ngFor="let module of this.componentList; let i = index">
          <mat-tab label="{{module.moduleName}}">
            <form [formGroup]="authoritiesFormGroup">
              <div fxLayout="row" fxLayout.lt-sm="column" style="padding-top: 5px;" fxLayoutWrap="wrap">
                <div fxFlex="50" class="pr-1" style="padding-top: 5px;" *ngFor="let item of module.data">
                  <mat-checkbox [checked]="item.checked" (change)="onChange(item.id, module.moduleName, item.code, $event.checked)" class="full-width" value="{{item.code}}">{{item.name}}</mat-checkbox>
                </div>
              </div>
            </form>
          </mat-tab>
        </div>
      </mat-tab-group>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" [disabled]="this.selectedAuthorities.length == 0 || roleFormGroup.invalid" (click)="submit()">Save</button>
  <span fxFlex></span>
  <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
</mat-dialog-actions>
