<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{data.title}}</span>
  </div>
</mat-toolbar>
<mat-dialog-content class="mat-typography mt-1" style="overflow: unset; max-height: unset;">
  <form [formGroup]="roleFormGroup">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput required formControlName="name" placeholder="Role Name">
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput required formControlName="description" placeholder="Description">
        </mat-form-field>
      </div>
    </div>
  </form>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
    <div fxFlex="100" class="pr-1">
      <span>Select Role Authorities</span>
    </div>
    <div fxFlex="100" class="pr-1">
        <mat-tab-group>
            <div *ngFor="let module of this.componentList; let i = index">

                <mat-tab label="{{module.name}}" *ngIf="module.authorities.length !== 0">

                    <div fxLayout="row" fxLayout.lt-sm="column" class="pt-2" fxLayoutWrap="wrap">
                        <div fxFlex="50" class="pr-1" style="padding-top: 5px;">
                            <mat-checkbox (change)="onChangeSelectAll(module.id, $event.checked)"
                                [indeterminate]="module.indeterminateState" [checked]="module.selectAll"
                                class="full-width">Select All</mat-checkbox>
                        </div>
                    </div>

                    <div class="user-role-custom-popup-body">
                        <form [formGroup]="authoritiesFormGroup">
                            <div fxLayout="row" fxLayout.lt-sm="column" class="pt-2" fxLayoutWrap="wrap">
                                <div fxFlex="50" class="pr-1" style="padding-top: 5px;"
                                    *ngFor="let item of module.authorities">
                                    <mat-checkbox [checked]="item.checked"
                                        (change)="onChangeUserRole(item, $event.checked)" class="full-width"
                                        value="{{item.code}}">{{item.name}}</mat-checkbox>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </div>
        </mat-tab-group>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" [disabled]="this.newDisplayAuthority.length == 0 || roleFormGroup.invalid"
    (click)="submit()" *ngIf="this.predefined === 'true'">Save</button>
  <button mat-raised-button color="accent" [disabled]="this.selectedAuthorities.length == 0 || roleFormGroup.invalid"
    (click)="submit()" *ngIf="this.predefined !== 'true'">Save</button>
  <span fxFlex></span>
  <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
</mat-dialog-actions>