<mat-card class="p-10" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">

    <mat-form-field class="margin-333" style="width: 99%">
      <input matInput placeholder="Search Client , Type a Name & Press Enter" value="" (keyup)='updateFilter($event)'>
    </mat-form-field>

    <div class="m-333">
      <p class="mat-select-lable"> Page Size: </p>
      <mat-select class="mat-raised-select" [(value)]="pageSize" (selectionChange)="changeValue()" [roleAuthorization]="'pu-c'">
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="20">20</mat-option>
      </mat-select>
      <span fxFlex></span>
      <button mat-raised-button class="mb-05" (click)="clientCreatePopUp()" color="accent">Add Client</button>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="pl-1">Name</th>
          <th width="600px">Description</th>
          <th>Status</th>
          <th width="150px" class="">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="clients.length > 0;else nodata">
        <tr *ngFor="let row of clients;">
          <td class="pt-1 pb-1">{{ row?.name }}</td>
          <td class="pt-1 pb-1">{{ row?.description }}</td>
          <td class="pt-1 pb-1">
            <mat-chip mat-sm-chip color="{{statusArray[row?.status].style}}" [selected]="true">
              {{statusArray[row?.status].status}}</mat-chip>
          </td>
          <td class="pt-1 pb-1">

            <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="navigateUserTable(row)">
                <mat-icon>list</mat-icon>View
              </button>
              <button mat-menu-item (click)="clientUpdatePopUp(row)">
                <mat-icon>edit</mat-icon>Edit
              </button>
              <button mat-menu-item (click)="licenseUpdatePopUp(row)">
                <mat-icon>vpn_key</mat-icon>License
              </button>
              <button mat-menu-item (click)="categoryUpdatePopUp(row)">
                <mat-icon>assignment_ind</mat-icon><span>Category</span>
              </button>
              <button mat-menu-item (click)="updateClientStatus(row)">
                <mat-icon>{{statusArray[row?.status].opposite.icon}}</mat-icon>
                {{statusArray[row?.status].opposite.value}}
              </button>
            </mat-menu>

          </td>
        </tr>
      </tbody>
      <ng-template #nodata>
        <tr>
          <td>
            <mat-chip mat-sm-chip class="mt-1" color="accent" [selected]="true" style="margin-left: auto;margin-right: auto">No
              records found</mat-chip>
          </td>
        </tr>
      </ng-template>
      <tfoot>
        <tr>
          <nav aria-label="Page navigation example">
            <ul class="pagination" *ngIf="totalPages.length > 1">
              <li class="page-item" [ngClass]="{'disabled':pageNumber <= 1}">
                <a class="page-link" (click)="this.getPageClient(pageNumber-1);" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let page of totalPages" [ngClass]="{'active':pageNumber === page}">
                <a class="page-link" (click)="this.getPageClient(page);">
                  {{page}}
                </a>
              </li>
              <li class="page-item" [ngClass]="{'disabled':pageNumber >= totalPages.length}">
                <a class="page-link" (click)="this.getPageClient(pageNumber+1);" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="pagination">{{totalRecords}} Total</div>
        </tr>
      </tfoot>
    </table>

  </mat-card-content>

</mat-card>