<mat-form-field *ngIf="this.temCommunities.length > 0" class="margin-333" style="width: 99%">
  <input matInput placeholder="Type to filter all columns" value="" (keyup)='updateFilter($event)'>
</mat-form-field>
<div class="m-333">
  <button mat-raised-button class="mb-05" *ngIf="!quotaExpire" color="primary" (click)="communityPopUp({}, true)">Add Community</button>
  <span fxFlex></span>
  <p *ngIf="this.temCommunities.length > 0" class="mat-select-lable"> Page Size: </p>
  <mat-select *ngIf="this.temCommunities.length > 0" class="mat-raised-select" [(value)]="pageSize" (selectionChange)="changeValue()" placeholder="Favorite food">
    <mat-option *ngFor="let item of pageSizeArray" [value]="item">{{item}}</mat-option>
  </mat-select>
</div>
<mat-card *ngIf="this.temCommunities.length > 0" class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="pl-1">Community Name</th>
          <th class="pl-1">Status</th>
          <th class="pl-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of communities;">
          <td class="pt-1 pb-1">{{ row?.name }}</td>
          <td class="pt-1 pb-1">
            <mat-chip *ngIf="row.status === 'ACTIVE'" mat-sm-chip color="primary" [selected]="true">Active</mat-chip>
            <mat-chip *ngIf="row.status === 'INACTIVE'" mat-sm-chip color="warn" [selected]="true">Inactive</mat-chip>
          </td>
          <td class="pt-1 pb-1 pr-1">
            <button mat-icon-button class="hidden-on-open" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="navigateCommunity(row)"><mat-icon>list</mat-icon> View</button>
              <button mat-menu-item (click)="communityPopUp(row, false)"><mat-icon>edit</mat-icon> Edit</button>
              <button mat-menu-item (click)="deleteCommunity(row)"><mat-icon>delete</mat-icon> Delete</button>
            </mat-menu>
            </td>
          </tr>
      </tbody>
      <tfoot>
        <tr >
          <td class="pt-1 pb-1 pl-1">
            <div class="pagination">{{totalRecords}} Created, {{quota}} Quota</div>
          </td>
          <td colspan="7" class="text-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination" *ngIf="totalPages.length > 1">
                <li class="page-item" [ngClass]="{'disabled':pageNumber <= 1}">
                  <a class="page-link" (click)="fetchAllCommunities(pageNumber-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of totalPages" [ngClass]="{'active':pageNumber === page}">
                  <a class="page-link" (click)="fetchAllCommunities(page)">
                    {{page}}
                  </a>
                </li>
                <li class="page-item"  [ngClass]="{'disabled':pageNumber >= totalPages.length}">
                  <a class="page-link" (click)="fetchAllCommunities(pageNumber+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
      </tfoot>
    </table>
  </mat-card-content>
</mat-card>
