<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">{{ data.title }}</span>
  </div>
</mat-toolbar>

<mat-dialog-content class="mat-typography mt-1">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
    <div *ngIf="isPublic" fxFlex="100" class="pr-1">
      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="link"
          name="shareLink"
          placeholder="Get Shareble Link"
        />
      </mat-form-field>
    </div>
    <mat-card
      fxFlex="100"
      class="pr-1"
      _ngcontent-c100=""
      class="default mat-card"
      ><mat-card-title _ngcontent-c28="" class="mat-card-title"
        >{{ title }} - Status</mat-card-title
      ><mat-card-content _ngcontent-c28="" class="p-0 mat-card-content"
        ><div _ngcontent-c28="" class="list-tasktype">
          <!---->
          <div
            _ngcontent-c28=""
            class="tasktype-item ng-star-inserted"
            style="flex-direction: row; box-sizing: border-box; display: flex;"
          >
            <span _ngcontent-c28="">Current Status of Survey</span
            ><span
              _ngcontent-c28=""
              fxflex=""
              style="flex: 1 1 0%; box-sizing: border-box;"
            ></span
            ><mat-chip mat-sm-chip color="currentStatus[0].style">{{
              currentStatus[0].status
            }}</mat-chip>
          </div>
        </div>
      </mat-card-content></mat-card
    >

    <div></div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    (click)="launchFutureSurvey(surveyObj)"
    color="accent"
  >
    Launch
  </button>
  <span fxFlex></span>
  <button
    mat-button
    color="warn"
    type="button"
    (click)="dialogRef.close(false)"
  >
    Cancel
  </button>
</mat-dialog-actions>
