<form [formGroup]="launchForm">
    <mat-toolbar matDialogTitle class="mat-primary m-0">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{ data.title }}</span>
      </div>
    </mat-toolbar>

    <mat-dialog-content class="mat-typography mt-1" style="overflow: unset; max-height: unset;">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
        <!-- Survey Start Date -->
        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input [formControl]="launchForm.controls['startDate']" matInput name="startDate" [min]="today" [matDatepicker]="startDatePicker" [formControl]=""
              required placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- Survey Expire Date -->
        <div fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input [formControl]="launchForm.controls['expireDate']" matInput name="expireDate" [min]="tomorrow" [matDatepicker]="expireDatePicker" [formControl]=""
              required placeholder="Expire Date">
            <mat-datepicker-toggle matSuffix [for]="expireDatePicker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #expireDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <!-- Select predefine Invitee group -->
      <div *ngIf="!isPublic" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
        <div fxFlex="60" class="pr-1">
          <mat-checkbox [formControl]="launchForm.controls['isPredefined']" class="full-width" value="predefined">Select predefined invitee group</mat-checkbox>
        </div>
      </div>
      <!-- Load saved Invitee group list if check box selected -->
      <div *ngIf="launchForm.controls['isPredefined'].value && !isPublic" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
        <div fxFlex="60" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select [formControl]="launchForm.controls['inviteeGroup']" placeholder="Select A Invitee Group">
                <mat-option value="1">Group 1</mat-option>
                <mat-option value="2">Group 2</mat-option>
                <mat-option value="3">Group 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- Select predefine Invitee group -->
      <div *ngIf="!isPublic" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
        <div fxFlex="100" class="pr-1">
          <mat-form-field class="full-width">
            <mat-select [formControl]="launchForm.controls['userNamePasswordType']" placeholder="Select User Name Password Type">
                <mat-option value="1">Common User name & password generated by system for Group</mat-option>
                <mat-option value="2">User name & password generated by system per each Invitee</mat-option>
                <mat-option *ngIf="!launchForm.controls['isPredefined'].value" value="3">User name & password given by author</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- Upload Invitee Group Csv File if check box is not selected -->
      <div *ngIf="!launchForm.controls['isPredefined'].value && !isPublic" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
        <div frFlex="80" class="pr-1">
          <mat-form-field class="full-width">
            <input [formControl]="launchForm.controls['inviteeGroupName']" matInput [formControl]="" name="inviteeGroupName" positiveNumberAndLetterOnly placeholder="Invitee Group Name"/>
          </mat-form-field>
        </div>
        <div frFlex="20" class="pr-1">
          <div fxFlex="20" class="pr-1">
                <input [formControl]="launchForm.controls['uploadCsvFile']" #userFile type="file" (change)="onFileChange($event)" style="display: none;" />
                <div layout-margin layout-padding>
                  <button mat-raised-button class="mr-1" (click)="userFile.click()" type="button">
                    <span *ngIf="csvFile == true">Browse Invitee File</span>
                    <span *ngIf="csvFile !== true"> ({{ this.csvFileName }})</span>
                  </button>
                </div>
          </div>
        </div>
      </div>
      <!-- Public Shareble Link -->
      <div *ngIf="isPublic" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
        <mat-form-field class="full-width">
          <input [formControl]="launchForm.controls['sharebleLink']" matInput [(ngModel)]="link" placeholder="Get Shareble Link"/>
          <a matSuffix title="Copy Link" type="btn"><mat-icon >link</mat-icon></a>
        </mat-form-field>
      </div>
      <!-- Csv File Headers -->
      <div *ngIf="!isPublic && csvFile !== true && !launchForm.controls['isPredefined'].value" id="csvHeaders" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1" >
        <div  *ngFor="let header of csvHeadersArray; let i=index" fxFlex="50" class="pr-1">
          <mat-form-field class="full-width">
            <input [disabled]="header.headerDisabled" matInput value="{{header.headerName}}" placeholder="{{header.headerName}}"/>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button
        [disabled]="currentStatus[0].id == 1 || launchForm.invalid"
        mat-raised-button
        (click)="launchFutureSurvey()"
        color="accent"
      >
        Launch
      </button>
      <span fxFlex></span>
      <button
        mat-button
        color="warn"
        type="button"
        (click)="dialogRef.close(false)"
      >
        Cancel
      </button>
    </mat-dialog-actions>
  </form>
