<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="ansTemplateForm" (ngSubmit)="submit()">
  <mat-dialog-content class="mat-typography">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

      <div fxFlex="100" class="pr-1">
        <div class="text-muted">
          Create your answer template by adding template name,type and answers. answers need to have a lable,value and option value
        </div>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput [formControl]="ansTemplateForm.controls['name']" required name="name" placeholder="Answer template name">
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput [formControl]="ansTemplateForm.controls['answerTemplateType']" required name="answerTemplateType" placeholder="Answer template type">
        </mat-form-field>
      </div>



      <div fxFlex="100" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}" formArrayName='answers' *ngFor="let answer of ansTemplateForm.controls['answers'].controls; let i=index">

        <mat-card-title>
          <small class="text-muted"> Answer {{i + 1}}</small>
        </mat-card-title>

        <div [formGroupName]="i">
          <div fxFlex="25" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput formControlName='lable' required name="lable" placeholder="Answer lable">
            </mat-form-field>
          </div>

          <div fxFlex="25" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput formControlName='value' required name="value" placeholder="Answer value">
            </mat-form-field>
          </div>

          <div fxFlex="25" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput formControlName='option' required name="option" placeholder="Answer option">
            </mat-form-field>
          </div>

          <div fxFlex="25" class="pr-1">
            <mat-button-toggle  (click)='addAnsTemplate()' value="add">
              <mat-icon>add</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle *ngIf="ansTemplateForm.controls['answers'].controls.length > 1" (click)=removeAnsTemplate(i) value="remove">
              <mat-icon>remove</mat-icon>
            </mat-button-toggle>
          </div>

        </div>

      </div>
    </div>

  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="ansTemplateForm.invalid">Save</button>
    <span fxFlex></span>
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
  </mat-dialog-actions>


</form>
