<form [formGroup]="configForm" (ngSubmit)="submitNew(data.isNew)">
  <mat-toolbar matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{ data.title }}</span>
    </div>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography mt-1">

    <div class="alert alert-warning" *ngIf="statusError" role="alert">
      If You want to change Survey Title or Origin, put the survey to Offline mode.
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput [formControl]="configForm.controls['title']" required name="title"
            positiveNumberAndLetterOnly placeholder="Survey Title" />
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="configForm.controls['client']" required placeholder="Select Client">
            <mat-option>none</mat-option>
            <mat-option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- [(ngModel)]="selectedOrigin" -->
      <div fxFlex="50" class="pr-1">
        <p>Choose the Origin for future survey</p>
        <mat-form-field class="full-width">
          <mat-select [formControl]="configForm.controls['origin']" required placeholder="Select Origin">
            <mat-option>none</mat-option>
            <mat-option *ngFor="let origin of surveyOriginArr" [value]="origin.id">{{ origin.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="false"  fxFlex="50" class="pr-1">
        <p>Choose the Default Language for future survey</p>
        <mat-form-field  class="full-width">
          <mat-select [formControl]="configForm.controls['languageJson']" required placeholder="Select Default Language">
            <mat-option>none</mat-option>
            <mat-option *ngFor="let lang of langs" [value]="lang.code">{{ lang.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-1">
        <p>Choose the channel for future survey</p>
        <mat-radio-group ng-click [formControl]="configForm.controls['channel']" fxLayout="row" fxLayoutGap="100px">
          <mat-radio-button value="1">Public</mat-radio-button>
          <mat-radio-button value="2">Private</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1"></div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="configForm.invalid">
      Save
    </button>
    <span fxFlex></span>
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">
      Cancel
    </button>
  </mat-dialog-actions>
</form>


