<form [formGroup]="configForm" (ngSubmit)="submitNew(data.isNew)">
  <mat-toolbar matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{ data.title }}</span>
    </div>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography mt-1">

    <div class="alert alert-warning" *ngIf="statusError" role="alert">
      If You want to change Survey Title or Origin, put the survey to Offline mode.
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput [formControl]="configForm.controls['title']" required name="title"
            positiveNumberAndLetterOnly placeholder="Survey Title" />
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="configForm.controls['client']" required placeholder="Select Client">
            <mat-option>none</mat-option>
            <mat-option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- [(ngModel)]="selectedOrigin" -->
      <div fxFlex="50" class="pr-1">
        <p>Choose the Origin for future survey</p>
        <mat-form-field class="full-width">
          <mat-select [formControl]="configForm.controls['origin']" required placeholder="Select Origin">
            <mat-option>none</mat-option>
            <mat-option *ngFor="let origin of surveyOriginArr" [value]="origin.id">{{ origin.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <p>Choose the Default Language for future survey</p>
        <mat-form-field class="full-width">
          <mat-select [formControl]="configForm.controls['languageJson']" required placeholder="Select Default Language">
            <mat-option>none</mat-option>
            <mat-option *ngFor="let lang of langs" [value]="lang.code">{{ lang.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-1">
        <p>Choose the channel for future survey</p>
        <mat-radio-group ng-click [formControl]="configForm.controls['channel']" fxLayout="row" fxLayoutGap="100px">
          <mat-radio-button value="1">Public</mat-radio-button>
          <mat-radio-button value="2">Private</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1"></div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="configForm.invalid">
      Save
    </button>
    <span fxFlex></span>
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">
      Cancel
    </button>
  </mat-dialog-actions>
</form>

<!-- Removing invite configuration section from future survey config popup - YS - The Flash Sprint -->

<!-- <mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Main Survey Configurations </mat-panel-title>
      <mat-panel-description>
        Type a title and choose a client
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="wrap"
      class="mt-1"
    >
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="configForm.controls['title']"
            required
            name="title"
            positiveNumberAndLetterOnly
            placeholder="Survey Title"
          />
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select

            [formControl]="configForm.controls['client']"
            required
            placeholder="Select A Client"
          >
            <mat-option>none</mat-option>
            <mat-option
              *ngFor="let client of clients"
              [value]="client.id"
              >{{ client.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-1">
        <p>Choose the channel for future survey</p>
        <mat-radio-group
          ng-click
          [formControl]="configForm.controls['channel']"
          fxLayout="row"
          fxLayoutGap="100px"
        >
          <mat-radio-button [checked]="channel === '1'" value="1"
            >Public
          </mat-radio-button>
          <mat-radio-button [checked]="channel === '2'" value="2"
            >Private</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel
    *ngIf="configForm.controls['channel'].value == '2'"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Private Channel Configurations </mat-panel-title>
      <mat-panel-description>
        Upload invitees contained excel file
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="wrap"
      class="mt-1"
    >
      <div fxFlex="40" class="pr-1">
        <mat-checkbox
          value="predefined"
          [ngModel]="checkBoxModel"
          (change)='loadGroupsByClientid($event)'
          [formControl]="configForm.controls['isPreDefined']"
          >Select predefined invitee group</mat-checkbox
        >
      </div>
    </div>

    <div
      *ngIf="configForm.controls['isPreDefined'].value"
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="wrap"
      class="mt-1"
    >
      <div fxFlex="60" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select
            [formControl]="configForm.controls['inviteeGroupId']"
            placeholder="Select A Invitee Group"
          >
            <mat-option>none</mat-option>
            <mat-option *ngFor="let group of inviteeGroups" [value]="group.id">{{group.inviteeGroupName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div
      *ngIf="!configForm.controls['isPreDefined'].value"
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="wrap"
      class="mt-1"
    >
      <div fxFlex="60" class="pr-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="configForm.controls['inviteeGroupName']"
            name="inviteeGroupName"
            positiveNumberAndLetterOnly
            placeholder="Invitee Group Name"
          />
        </mat-form-field>
      </div>

      <div fxFlex="40" class="pr-1">
        <input
          (change)="onFileChange($event)"
          #userFile
          type="file"
          [formControl]="configForm.controls['userFile']"
          style="display: none"
        />
        <div layout-margin layout-padding>
          <button
            mat-raised-button
            class="mr-1"
            (click)="userFile.click()"
            type="button"
          >
            <span *ngIf="!csvFile">Browse Users File</span>
            <span *ngIf="csvFile"> ({{ this.csvFileName }})</span>
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion> -->

<!-- END of CODE -->