<div fxLayout="row" fxLayoutWrap="wrap">
  <!--Invitee Group Settings Top Section  -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">

    <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-title>
        <div class="card-title-text">Invitation Setting</div>
        <mat-divider></mat-divider>

      </mat-card-title>
      <mat-card-content class="p-0">

        <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="5" [rows]="allInvitations">

          <ngx-datatable-column name="Group Name" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.inviteeGroup.inviteeGroupName}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Expire Date" [minWidth]="250" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row?.endDate}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Custom Fields" [minWidth]="250" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-chip *ngFor="let customField of row?.inviteeGroup.customFields;" mat-sm-chip color="primary"
                selected class="mr-1">{{customField.displayName}}</mat-chip>
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="Action" [flexGrow]="1" [minWidth]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>

              <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item (click)="navigateInviteeGroupView(row?.futureSurvey.id)" color="primary" class="mr-1"> -->
                <button mat-menu-item (click)="navigateGroupInvitees(row)" color="primary" class="mr-1">
                  <mat-icon>group</mat-icon>Invitees
                </button>
                <button mat-menu-item (click)="navigateInviteeGroupView(row?.futureSurvey.id)" color="primary" class="mr-1">
                  <mat-icon>autorenew</mat-icon>Resend Dashboard
                </button>
                <button mat-menu-item color="primary" class="mr-1" (click)="openPopupEditInvitationSetting(row?.id, row?.inviteeGroup.inviteeGroupName, row?.inviteeGroup.customFields, row?.endDate)">
                  <mat-icon>edit</mat-icon>Edit
                </button>
              </mat-menu>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>


      </mat-card-content>
    </mat-card>


  </div>
</div>