<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">Category</span>
  </div>
</mat-toolbar>
<mat-dialog-content class="mat-typography mt-1">

  <mat-form-field class="matAutocomplete-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable"
        (removed)="remove(category)">
        {{category}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Select category..." #categoryInput [formControl]="categoryCtrl" [matAutocomplete]="auto"
        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
        [matChipInputAddOnBlur]="addOnBlur">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let category of filteredCategories | async; let i = index" [value]="categoriesObj[i].id">
        {{category}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
    <div fxFlex="100" class="mt-1">
      <button mat-raised-button color="primary">Save</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
    </div>
  </div>

</mat-dialog-content>