<p>
  Instant Feedbacks Section is under development.
</p>
<!-- <button mat-button style="background-color: #f0ad4e;" type="button" (click)="openWarning()">Warning</button>
<button mat-button style="background-color: #5bc0de;" type="button" (click)="openInfo()">Infomation</button>
<button mat-button style="background-color: #d9534f;" type="button" (click)="openError()">Error</button>
<button mat-button style="background-color: #ff0000;" type="button" (click)="openErrorSnack()">Error Snack</button> -->
