<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-title>
    <div class="card-title-text">Survey Builder</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content class="p-0">
    <div class="text-muted mb-1 m-1 text-left">
      you can setup survey question as you want & specify answers by using predefined answer templates.
    </div>
    <div class="profile-actions text-right mb-1">
      <div class="m-333 text-right">
        <button mat-raised-button class="mb-05" color="accent">Add Question</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
