<!-- -------- JA Sprint 1 - MVP -------- -->
<!-- --------- Buddhi Hasanka ---------- -->

<mat-card class="p-10" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">

    <mat-form-field class="margin-333" style="width: 99%">
      <input matInput placeholder="Search by name..." value="" (keyup)='updateFilter($event)'>
    </mat-form-field>

    <div class="m-333">
      <p class="mat-select-lable"> Page Size: </p>
      <mat-select class="mat-raised-select" [(value)]="pageSize" (selectionChange)="changeValue()"
        placeholder="Favorite food">
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="20">20</mat-option>
      </mat-select>
      <span fxFlex></span>
      <button mat-raised-button class="mb-05" (click)="handleNewProductSave()" color="accent">Add Product</button>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="pl-1">Product Name</th>
          <th width="250px">Description</th>
          <th>Batch Number</th>
          <th>Quantity</th>
          <th>Expire Date</th>
          <th width="150px" class="">Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of rows;">
              <td class="pt-1 pb-1">{{ row?.name }}</td>
              <td class="pt-1 pb-1">{{ row?.description }}</td>
              <td class="pt-1 pb-1 text-cente">{{ row?.batchNumber }}</td>
              <td class="pt-1 pb-1">{{ row?.quantity }}</td>
              <td class="pt-1 pb-1">{{ row?.expireDate }}</td>
              <td class="pt-1 pb-1">
    
                <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
    
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openProductPopup(row)">
                    <mat-icon>edit</mat-icon>Edit
                  </button>
    
                  <button mat-menu-item color="warn" (click)="deleteProduct(row)">
                    <mat-icon>delete</mat-icon>Delete
                  </button>
    
                  <button mat-menu-item (click)="downloadCsv(row)">
                    <mat-icon>file_download</mat-icon>Download CSV
                  </button>
                </mat-menu>
    
              </td>
            </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="pt-1 pb-1 pl-1">
            <div class="pagination">{{totalRecords}} Total</div>
          </td>
          <td colspan="7">
            <nav aria-label="Page navigation example">
              <ul class="pagination" *ngIf="totalPages.length > 1">
                <li class="page-item" [ngClass]="{'disabled':pageNumber <= 1}">
                  <a class="page-link" (click)="this.getPageClient(pageNumber-1);" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of totalPages" [ngClass]="{'active':pageNumber === page}">
                  <a class="page-link" (click)="this.getPageClient(page);">
                    {{page}}
                  </a>
                </li>
                <li class="page-item" [ngClass]="{'disabled':pageNumber >= totalPages.length}">
                  <a class="page-link" (click)="this.getPageClient(pageNumber+1);" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </td>
        </tr>
      </tfoot>
    </table>

  </mat-card-content>

</mat-card>