<!-- -------- JA Sprint 1 - MVP -------- -->
<!-- --------- Buddhi Hasanka ---------- -->

<mat-card class="p-10" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">

    <mat-form-field class="margin-333" style="width: 99%">
      <input matInput placeholder="Search by name..." value="" (keyup)='onSearch($event)'>
    </mat-form-field>

    <div class="m-333">
      <span fxFlex></span>
      <button mat-raised-button class="mb-05" (click)="handleNewProductSave()" color="accent">Add Product</button>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="pl-1">Product Name</th>
          <th width="250px">Description</th>
          <th>Batch Number</th>
          <th>Quantity</th>
          <th>Expire Date</th>
          <th width="150px" class="">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of products;">
          <td class="pt-1 pb-1">{{ row?.name }}</td>
          <td class="pt-1 pb-1">{{ row?.description }}</td>
          <td class="pt-1 pb-1 text-cente">{{ row?.batchNumber }}</td>
          <td class="pt-1 pb-1">{{ row?.quantity }}</td>
          <td class="pt-1 pb-1">{{ row?.expireDate }}</td>
          <td class="pt-1 pb-1">

            <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openProductPopup(row)">
                <mat-icon>edit</mat-icon>Edit
              </button>

              <button mat-menu-item color="warn" (click)="deleteProduct(row)">
                <mat-icon>delete</mat-icon>Delete
              </button>

              <button mat-menu-item (click)="downloadCsv(row)">
                <mat-icon>file_download</mat-icon>Download CSV
              </button>
            </mat-menu>

          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <div class="m-333">

              <span fxFlex></span>
              <mat-paginator [length]="length" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
              </mat-paginator>

            </div>
          </td>
        </tr>
      </tfoot>
    </table>

  </mat-card-content>

</mat-card>