<div fxLayout="row" fxLayoutWrap="wrap">


  <!--Future Survey Catalog Top Section  -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
      <mat-card-title>
        <div class="card-title-text">Future Survey Catalog</div>
        <mat-divider></mat-divider>

        <div class="profile-actions text-right mb-1">
          <div class="m-333">
            <!-- <button mat-raised-button class="mb-05" (click)="navigateToSurveyEditor()" routerLinkActive="router-link-active"  color="accent">Create New Survey</button> -->
            <button mat-raised-button class="mb-05" (click)="openConfigPopup({},true)" routerLinkActive="router-link-active"  color="accent">Create New Survey</button>
          </div>
        </div>


      </mat-card-title>
      <mat-card-content class="p-0">
        <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="5" [rows]="futureSurveys">

          <ngx-datatable-column name="Survey Title" [minWidth]="250" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.title}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Survey Author" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngFor='let client of clients | arrayFilter : row?.clientId : "clients"'>{{ client.name }}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Channel" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <mat-chip mat-sm-chip color="primary" [selected]="true">{{row?.channel =='1' ? 'Public' : 'Private'}}</mat-chip>
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column name="Action" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>


              <button mat-icon-button mat-sm-button (click)="navigateToSurveyEditor(row)" class="mr-1">
                <mat-icon>view_headline</mat-icon>
              </button>

              <button mat-icon-button mat-sm-button   (click)="navigateToSurveyView(row)" class="mr-1">
                <mat-icon>laptop_windows</mat-icon>
              </button>

              <button mat-icon-button mat-sm-button  (click)="openInvitationPopup(row,row.channel,true)" class="mr-1">
                <mat-icon>perm_contact_calendar</mat-icon>
              </button>


              <button mat-icon-button mat-sm-button   (click)="openPopupValidator(row,false)" class="mr-1">
                  <mat-icon>flight_takeoff</mat-icon>
                </button>

              <button mat-icon-button mat-sm-button  class="mr-1" (click)="openConfigPopup(row)">
                <mat-icon>edit</mat-icon>
              </button>

               <button mat-icon-button mat-sm-button color="warn" (click)="deleteFutureSurvey(row)" class="mr-1">
                <mat-icon>delete</mat-icon>
              </button>

            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>


      </mat-card-content>
    </mat-card>

    <router-outlet></router-outlet>
  </div>
</div>
