<form class="example-form" [formGroup]='userForm'>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Choose a user" [matAutocomplete]="auto" formControlName='userInput'>
  </mat-form-field>
  <img src="https://productzg4t4ks63a.hana.ondemand.com/product/downloadFile/bljmY_5VgFlwM-WCMP7huDNzv9CuHWvAogEJnY_Bh8U" alt="Flowers in Chania" width="460" height="345">
  <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let user of (filteredClient | async)?.content" [value]="user">
        <span>{{ user.name }}</span>


      </mat-option>
  </mat-autocomplete>
</form>
