<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">Create User</span>
  </div>
</mat-toolbar>
<mat-dialog-content class="mat-typography mt-1" id="client-create">


  <mat-horizontal-stepper [linear]="true">

    <mat-step [stepControl]="userFormGroup">

      <form [formGroup]="userFormGroup">

        <ng-template matStepLabel>Client</ng-template>


        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="username" [formControl]="userFormGroup.controls['username']" placeholder="User Name">
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="password" type="password" [formControl]="userFormGroup.controls['password']"
                placeholder="Password (Minimum 8 Characters)">
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="email" [formControl]="userFormGroup.controls['email']" placeholder="Email">
            </mat-form-field>
          </div>
          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <mat-select [formControl]="userFormGroup.controls['role']" placeholder="Select A User Role">
                <mat-option>none</mat-option>
                <mat-option *ngFor="let roles of roles" [value]="roles.id">{{roles.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
          </div>
        </div>

      </form>

    </mat-step>


    <mat-step [stepControl]="categoryFormGroup">
      <form [formGroup]="categoryFormGroup">
        <ng-template matStepLabel>Category</ng-template>

        <mat-form-field class="matAutocomplete-chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let category of selectedCategories" [selectable]="selectable" [removable]="removable"
              (removed)="remove(category)">
              {{category.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput placeholder="Select category..." #categoryInput [formControl]="categoryCtrl"
              [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)" [matChipInputAddOnBlur]="addOnBlur" aria-label="Category" [required]="this.selectedCategories.length === 0">
          </mat-chip-list>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category.id">
              <span>{{category.name}}</span>
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="accent" matStepperPrevious class="mr-1">Back</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="this.selectedCategories.length == 0">Next</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="communityFormGroup">
      <form [formGroup]="communityFormGroup">
        <ng-template matStepLabel>Community</ng-template>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="" *ngIf="allCommunities.length !== 0">
            <div fxFlex="50" class="pr-1" *ngFor="let community of allCommunities">
              <mat-checkbox [checked]="community.isChecked" (change)="onChange($event)" class="full-width" [value]="community.id">
                {{community.name}}</mat-checkbox>
            </div>
          </div>

          <div class="alert alert-warning" role="alert" *ngIf="allCommunities.length === 0">
            Client has no any assigned communities.!
          </div>

        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="accent" matStepperPrevious class="mr-1">Back</button>
            <button mat-raised-button color="primary" (click)="submit()">Submit</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
          </div>
        </div>

      </form>
    </mat-step>

  </mat-horizontal-stepper>


</mat-dialog-content>