<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">Create Client</span>
  </div>
</mat-toolbar>


<mat-dialog-content class="mat-typography mt-1" id="client-create">
  <mat-horizontal-stepper [linear]="true">

    <mat-step [stepControl]="clientFormGroup">
      <form [formGroup]="clientFormGroup">
        <ng-template matStepLabel>Client</ng-template>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="clientName" placeholder="Name" [formControl]="clientFormGroup.controls['name']">
            </mat-form-field>
          </div>

          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <textarea matInput name="description" placeholder="Description"
                [formControl]="clientFormGroup.controls['description']"></textarea>
            </mat-form-field>
          </div>
        </div>


        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="primary" matStepperNext [disabled]="clientFormGroup.invalid">Next</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
          </div>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="profilePicFormGroup">
      <form [formGroup]="profilePicFormGroup">
        <ng-template matStepLabel>Profile Picture</ng-template>

        <!-- --------- hidden file input --------- -->
        <input (change)="onSelectFile($event)" #productImgs type="file" style="display: none"
          [formControl]="profilePicFormGroup.controls['profilePic']" base-sixty-four-input>


        <!-- --------- file input click button --------- -->
        <!-- <div layout-margin layout-padding>
          <button mat-raised-button class="mr-1 mb-1" (click)="productImgs.click()" type="button">
            Browse Images</button>
        </div> -->

        <div layout-margin layout-padding class="mb-2 mt-1" align="center">
          <button mat-raised-button class="mr-1" (click)="productImgs.click()" type="button">
            Browse Images</button>
          <button mat-raised-button class="mr-1" color="warn" (click)="removeSelectedImg()" type="button"
            *ngIf="clientProfilePic">
            Clear Images</button>
        </div>

        <!-- --------- start images preview container --------- -->
        <div id="client_create_image_preview_container" fxLayout="row" fxLayoutWrap="wrap" layout-align="center">

          <!-- --------- start card --------- -->
          <!-- <div [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}" *ngIf="clientProfilePic" fxFlex="100" style="display: flex;">
            <mat-card class="p-0">

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
                <span fxFlex></span>
                <button type="button" class="close p-1" aria-label="Close" (click)="removeSelectedImg()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <img [src]="clientProfilePic">
            </mat-card>
          </div> -->

          <div [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}" *ngIf="clientProfilePic" fxFlex="100"
            style="display: flex;">

            <img class="clientProfilePic" [src]="clientProfilePic">

          </div>
          <!-- --------- end card --------- -->

        </div>
        <!-- --------- end images preview container --------- -->

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">

          <div fxFlex="100" class="mt-1">

            <button mat-raised-button color="accent" matStepperPrevious class="mr-1">Back</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="!clientProfilePic">Next</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>

          </div>

        </div>

      </form>
    </mat-step>


    <mat-step [stepControl]="adminFormGroup">
      <form [formGroup]="adminFormGroup">
        <ng-template matStepLabel>User Profile</ng-template>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">

          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="username" placeholder="Username"
                [formControl]="adminFormGroup.controls['username']">
            </mat-form-field>
            <!-- <span class="input-bottom-msg"><span
                *ngIf="adminFormGroup.controls['username'].value.length && adminFormGroup.controls['username'].invalid && adminFormGroup.controls['username'].dirty"
                class="{{this.formInputMessage.userName.Error.style}}">{{this.formInputMessage.userName.Error.value}}</span>
            </span> -->
          </div>

          <div fxFlex="100" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="email" placeholder="Email" [formControl]="adminFormGroup.controls['email']">
            </mat-form-field>
          </div>

          <div fxFlex="100" class="pr-1">
            <mat-card-subtitle>Give Permissions to</mat-card-subtitle>
            <div fxLayout="row" fxLayout.lt-sm="column" class="" fxLayoutWrap="wrap">
              <div fxFlex="50" class="pr-1" *ngFor="let item of allAuthorities">
                <mat-checkbox (change)="onChange(item.id)" class="full-width" value="{{item.code}}">{{item.name}}
                </mat-checkbox>
              </div>
            </div>
          </div>

        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="accent" matStepperPrevious class="mr-1">Back</button>
            <button mat-raised-button color="primary" matStepperNext [disabled]="adminFormGroup.invalid">Next</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
          </div>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="categoryFormGroup">
      <form [formGroup]="categoryFormGroup">
        <ng-template matStepLabel>Category</ng-template>

        <mat-form-field class="matAutocomplete-chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let category of selectedCategories" [selectable]="selectable" [removable]="removable"
              (removed)="remove(category)">
              {{category.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput placeholder="Select category..." #categoryInput [formControl]="categoryCtrl"
              [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)" [matChipInputAddOnBlur]="addOnBlur" aria-label="Category"
              [required]="this.selectedCategories.length === 0">
          </mat-chip-list>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category.id">
              <span>{{category.name}}</span>
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">

          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="accent" matStepperPrevious class="mr-1">Back</button>
            <button mat-raised-button color="primary" matStepperNext
              [disabled]='this.selectedCategories.length === 0'>Next</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
          </div>

        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="licenseFormGroup">
      <form [formGroup]="licenseFormGroup">
        <ng-template matStepLabel>License</ng-template>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="tagCount" placeholder="Tag Count" positiveNumberOnly
                [formControl]="licenseFormGroup.controls['tagCount']">
            </mat-form-field>
            <span *ngIf="licenseFormGroup.controls['tagCount'].hasError('max')" class="form-error-msg">
              {{this.license.tagCount}} max ! </span>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="userCount" placeholder="User Count" positiveNumberOnly
                [formControl]="licenseFormGroup.controls['userCount']">
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="communityCount" placeholder="Comunity Count" positiveNumberOnly
                [formControl]="licenseFormGroup.controls['communityCount']" (blur)="validateLicense()"
                (focus)='setOldValue()'>
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="feedbackCount" placeholder="Feedback Count" positiveNumberOnly
                [formControl]="licenseFormGroup.controls['feedbackCount']" (blur)="setDefaultValue('feedbackCount')">
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="eventkCount" placeholder="Event Count" positiveNumberOnly
                [formControl]="licenseFormGroup.controls['eventCount']" (blur)="setDefaultValue('eventCount')">
            </mat-form-field>
          </div>

          <div fxFlex="50" class="pr-1">
            <mat-form-field class="full-width">
              <input matInput name="promoCount" placeholder="Promo Count" positiveNumberOnly
                [formControl]="licenseFormGroup.controls['promoCount']" (blur)="setDefaultValue('promoCount')">
            </mat-form-field>
          </div>

        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">

          <div fxFlex="100" class="mt-1">
            <button mat-raised-button color="accent" matStepperPrevious class="mr-1">Back</button>
            <button mat-raised-button color="primary" (click)="submit()"
              [disabled]="licenseFormGroup.invalid">Submit</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
          </div>

        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>

</mat-dialog-content>