<mat-toolbar matDialogTitle class="mat-primary m-0">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span>Merchant Activation</span>
  </div>
</mat-toolbar>
<mat-dialog-content class="mat-typography mt-1">
  <div fxFlex="50" class="user-details mt-1">
    <mat-card>
      <img style="margin-left: auto;margin-top: auto" mat-card-image src="assets/images/face-4.jpg">
    </mat-card>
  </div>
  <div fxFlex="50" class="mt-1 ml-5">
    <p>
      <mat-icon class="text-muted mat-icon notranslate material-icons mat-icon-no-color mr-1">person</mat-icon>{{merchant.user.accountName}}
    </p>
    <p>
      <mat-icon class="text-muted mat-icon notranslate material-icons mat-icon-no-color mr-1">email</mat-icon>{{merchant.user.email}}
    </p>
    <p>
      <mat-icon class="text-muted mat-icon notranslate material-icons mat-icon-no-color mr-1">phone</mat-icon>{{merchant.mobileNumber}}
    </p>
    <p>
      <mat-icon class="text-muted mat-icon notranslate material-icons mat-icon-no-color mr-1">add_location</mat-icon>{{merchant.address}}
    </p>
    <mat-slide-toggle>
      Status : <mat-chip color="" selected>{{merchant.user.status}}
      </mat-chip>
    </mat-slide-toggle>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="">Save</button>
  <span fxFlex></span>
  <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
</mat-dialog-actions>