
.background-survey-signin{
    background-image: url("assets/images/survey_signin/test_bg2.jpg") !important;
    // background-image: url("assets/images/signin/signinimg.jpg") !important;
    background-size:     cover !important;                      
    background-repeat:   no-repeat !important;  
} 

.background-survey-form{
    background-image: url("assets/images/survey_signin/test_bg8.jpg") !important;
    // background-image: url("assets/images/signin/signinimg.jpg") !important;
    background-size:     cover !important;                      
    background-repeat:   no-repeat !important;  
} 

#survey-view-survey{
  overflow: auto;
  height: 100%;
}

#survey-view-footer{
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 100px 20px 20px;
  img{
    display: block;
    margin: auto;
    width: 200px;
  }
  span{
    font-size: 10px;
  }

}

.survey-page-wrap{
  display: flex;
  // align-items: center;
  padding: 40px 1rem;
  // min-height: 733px;
}

.survey-form-hold{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.sv_main .sv_p_root > .sv_row:nth-child(2n+1) {
  background-color: #f4f4f4;
}