<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-md="300px" fxFlex.gt-sm="50">
    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="propic text-center">
        <img src="assets/images/ui_icons/future-survey-logo.png" alt="" />
      </div>
      <div class="profile-title text-center mb-1">
        <div class="main-title">Future Survey</div>
        <div class="subtitle mb-05">Judi Authentica</div>
        <div class="text-muted">
          New generation survey management tool for advnance usage
        </div>
      </div>

      <div class="profile-nav">
        <mat-nav-list>
          <mat-list-item
            routerLink="/future-survey/sList"
            routerLinkActive="list-item-active"
          >
            <mat-icon>home</mat-icon>
            Future Survey Catalog
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            routerLink="/future-survey/inviteeGroups"
            routerLinkActive="list-item-active"
          >
            <mat-icon>settings</mat-icon>
            Invitation Setting
          </mat-list-item>
          <mat-divider></mat-divider>

          <mat-divider></mat-divider>
        </mat-nav-list>
      </div>
    </mat-card>
  </div>

  <!-- Profile Views -->
  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="calc(100% - 300px)">
    <router-outlet></router-outlet>
  </div>
</div>
