<mat-card class="p-10" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">

    <mat-form-field class="margin-333" style="width: 99%">
      <input matInput placeholder="Search by name ..." value="" (keyup)='onSearch($event)'>
    </mat-form-field>

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="pl-1">Name</th>
          <th width="600px">email</th>
          <th>Status</th>
          <th width="150px" class="">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of merchants;">
          <td class="pt-1 pb-1">{{row?.user.accountName}}</td>
          <td class="pt-1 pb-1">{{row?.user.email}}</td>
          <td class="pt-1 pb-1">
            <mat-chip mat-sm-chip color="{{statusArray[row?.user.status].style}}" selected>
              {{statusArray[row?.user.status].display}}</mat-chip>
          </td>
          <td class="pt-1 pb-1">
            <button class="card-control" mat-icon-button (click)="showMerchantDetails(row)">
              <mat-icon>description</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">

            <div class="m-333">
              <span fxFlex></span>

              <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
              </mat-paginator>

            </div>

          </td>
        </tr>
      </tfoot>
    </table>

  </mat-card-content>

</mat-card>