<form [formGroup]="offerForm">
  <mat-toolbar matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{data.title}}</span>
    </div>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography mt-1">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="name" [formControl]="offerForm.controls['name']" letterOnly placeholder="Event Name">
        </mat-form-field>
      </div>
      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <textarea matInput name="description" placeholder="Description" [formControl]="offerForm.controls['description']"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="startDate" [min]="startDateMin" (ngModelChange)="validateDatePickerMinMax()"
            [max]="startDateMax" [owlDateTime]="picker1" [owlDateTimeTrigger]="picker1"
            [formControl]="offerForm.controls['startDate']" required placeholder="Start Date">
          <button [owlDateTimeTrigger]="picker1" mat-icon-button matSuffix>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <owl-date-time #picker1></owl-date-time>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="endDate" [min]="endDateMin" (ngModelChange)="validateDatePickerMinMax()"
            [max]="endDateMax" [owlDateTime]="picker2" [owlDateTimeTrigger]="picker2"
            [formControl]="offerForm.controls['endDate']" required placeholder="End Date">
          <button [owlDateTimeTrigger]="picker2" mat-icon-button matSuffix>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <owl-date-time #picker2></owl-date-time>
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
          <input matInput name="discount" [formControl]="offerForm.controls['discount']" positiveNumberOnly placeholder="Discount">
        </mat-form-field>
      </div>
      <div fxFlex="50" class="pr-1">
        <!-- --------- hidden file input --------- -->
        <input (change)="onSelectFile($event)" #eventImgs type="file" [formControl]="offerForm.controls['file']"
        multiple style="display: none" />
        <!-- --------- file input click button --------- -->
        <div layout-margin layout-padding>
          <button mat-raised-button class="mr-1" (click)="eventImgs.click()"
          [disabled]="this.maxUploadableFileCount === null || this.maxUploadableFileCount < 1 ?
          (false) :
          (this.currentTotalImageCount === this.maxUploadableFileCount)"
            type="button">
            Browse Images
            <span *ngIf="this.maxUploadableFileCount === null || this.maxUploadableFileCount < 1 ?
            (false) :
            (this.currentTotalImageCount > 0)"> ({{this.currentTotalImageCount}} / {{this.maxUploadableFileCount}})</span>
          </button>
        </div>
      </div>
      <div fxFlex="100" class="pr-1">
        <mat-slide-toggle [formControl]="offerForm.controls['status']">Activate Event</mat-slide-toggle>
      </div>
      <div [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}" *ngFor='let url of urls; let i = index' fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" style="display: flex;">
        <mat-card class="p-0">
          <button type="button" class="close" aria-label="Close" (click)="removeSelectedImg(i)">
            <span aria-hidden="true">&times;</span>
          </button>
          <img [src]="url">
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mt-1">
        <div fxFlex="100" class="mt-1">
          <button mat-raised-button color="primary" (click)="offerFormSubmit()" [disabled]="offerForm.invalid">Save</button>
          <span fxFlex></span>
          <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
        </div>
      </div>
  </mat-dialog-content>
</form>
