<div fxLayout="row" fxLayoutWrap="wrap">

  <div fxFlex="100" *ngFor="let item of sourceDetail" fxFlex.gt-md="300px" fxFlex.gt-sm="50">

    <mat-card class="profile-sidebar mb-1 pb-0">
      <div class="app-user">
        <div class="app-user-photo">
          <img src="assets/images/sq-8.jpg" alt="">
        </div>
        <span class="app-user-name mb-05">
          {{item.client.name}}
        </span>
      </div>
    </mat-card>



    <mat-card class="profile-sidebar mb-1 pb-0">

      <div class="profile-title text-center mb-1">
        <div class="main-title">{{item.sourceName}} </div>
        <div class="subtitle mb-05">Batch Number : {{item.batch}}</div>
      </div>

      <div class="product-photos-wrap">
        <div class="gallery-thumbnails" [@animate]="{value:'*',params:{delay: '100ms', x:'-100px'}}">
          <img src="{{item.imageName}}" alt="">
        </div>
      </div>



    </mat-card>
  </div>

  <div fxFlex="100" *ngFor="let surveyRecord of surveyRecords" fxFlex.gt-md="auto" fxFlex.gt-sm="50">
    <mat-card>
      <mat-card-title>
        <div class="card-title-text">{{surveyRecord.topic}}</div>
      </mat-card-title>
    </mat-card>

    <mat-card>
      <form [formGroup]="surveyViewForm">

        <input type='hidden' formControlName="surveyId" required>

        <mat-vertical-stepper [linear]="isLinear" #stepper>

          <mat-step formArrayName='questions' *ngFor="let question of surveyViewForm.controls['questions'].controls; let i=index"
            [stepControl]="surveyViewForm">
            <div [formGroupName]="i">

              <ng-template matStepLabel>{{question.value.name}}</ng-template>

              <input type="hidden" formControlName="id" required>

              <div formArrayName='answers' *ngFor="let ansType of ansTemplates | arrayFilter:question.value.answerTypeId:'answer_types'">
                <fieldset id="id" *ngIf='ansType.answerTemplateType == "S"'>
                  <div  *ngFor="let answer of question.controls['answers'].controls; let j = index">
                    <div [formGroupName]="i">
                      <input *ngIf="answer.value.answerTemplateType =='S'" name="id" value='answer.value.answer.value'
                        type="radio" formControlName="id">{{answer.value.answer.lable}}
                    </div>
                  </div>
                </fieldset>
              </div>

              <!-- <mat-radio-group formControlName="id" *ngIf='ansType.answerTemplateType == "S"'>
                  <div *ngFor="let answer of question.controls['answers'].controls; let j = index">
                    <div [formGroupName]="j">
                      <mat-radio-button value="answer.value.answer.value">{{answer.value.answer.lable}}</mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group> -->







            </div>


          </mat-step>

        </mat-vertical-stepper>
        <div>
          <button (click)='printQuestion();'>Next</button>
        </div>
      </form>



    </mat-card>
  </div>










</div>
