<mat-card class="profile-sidebar mb-1 pb-0">
  <mat-card-title>
    <div class="card-title-text">Clear Picture - Future Survey Viewer</div>

    <div class="profile-actions text-right mb-1">
      <div class="m-333">
        <button  mat-raised-button class="mb-05" (click)="navigateToSurveyEditor(jsonContent)" color="accent">Back to Editor</button>
      </div>
    </div>

  </mat-card-title>

</mat-card>

<div class="survey-container contentcontainer codecontainer">
  <div id="surveyElement"></div>
</div>
