<mat-toolbar matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{data.title}}</span>
    </div>
</mat-toolbar>
<mat-dialog-content class="mat-typography mt-1" style="overflow: unset; max-height: unset;">
    <form [formGroup]="roleFormGroup">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="50" class="pr-1">
                <mat-form-field class="full-width">
                    <input matInput required formControlName="name" placeholder="Role Name">
                </mat-form-field>
            </div>
            <div fxFlex="50" class="pr-1">
                <mat-form-field class="full-width">
                    <input matInput required formControlName="description" placeholder="Description">
                </mat-form-field>
            </div>
        </div>
    </form>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
        <div fxFlex="100" class="pr-1">
            <span>Select Role Authorities</span>
        </div>
        <div fxFlex="100" class="pr-1">
            <mat-tab-group *ngIf="this.predefined !== 'true'">
                <div *ngFor="let module of this.componentList; let i = index">
                    <mat-tab label="{{module.name}}" *ngIf="module.authorities.length !== 0">
                        <form [formGroup]="authoritiesFormGroup">
                            <div fxLayout="row" fxLayout.lt-sm="column" class="pt-2" fxLayoutWrap="wrap">
                                <div fxFlex="50" class="pr-1" style="padding-top: 5px;"
                                    *ngFor="let item of module.authorities">
                                    <mat-checkbox [checked]="item.checked"
                                        (change)="onChangeUserRole(item, $event.checked)" class="full-width"
                                        value="{{item.code}}">{{item.name}}</mat-checkbox>
                                </div>
                            </div>
                        </form>
                    </mat-tab>
                </div>
                <!-- <div *ngFor="let module of this.componentList; let i = index">
          <mat-tab label="{{module.moduleName}}">
            <form [formGroup]="authoritiesFormGroup">
              <div fxLayout="row" fxLayout.lt-sm="column" style="padding-top: 5px;" fxLayoutWrap="wrap">
                <div fxFlex="50" class="pr-1" style="padding-top: 5px;" *ngFor="let item of module.data">
                  <mat-checkbox [checked]="item.checked" (change)="onChange(item.id, module.moduleName, item.code, $event.checked)" class="full-width" value="{{item.code}}">{{item.name}}</mat-checkbox>
                </div>
              </div>
            </form>
          </mat-tab>
        </div> -->
            </mat-tab-group>
            <mat-tab-group *ngIf="this.predefined === 'true'">
                <mat-tab label="Display Authorities">
                    <form [formGroup]="authoritiesFormGroup">
                        <div fxLayout="row" fxLayout.lt-sm="column" class="pt-2" fxLayoutWrap="wrap">
                            <div fxFlex="50" class="pr-1" style="padding-top: 5px;"
                                *ngFor="let item of allDisplayAuthority">
                                <mat-checkbox [checked]="item.checked"
                                    (change)="onChangeAdminRole(item, $event.checked)" class="full-width"
                                    value="{{item.code}}">{{item.name}}</mat-checkbox>
                            </div>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="accent" [disabled]="this.newDisplayAuthority.length == 0 || roleFormGroup.invalid"
        (click)="submit()" *ngIf="this.predefined === 'true'">Save</button>
    <button mat-raised-button color="accent" [disabled]="this.selectedAuthorities.length == 0 || roleFormGroup.invalid"
        (click)="submit()" *ngIf="this.predefined !== 'true'">Save</button>
    <span fxFlex></span>
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
</mat-dialog-actions>