// -------- JA Sprint 1 - MVP --------
// --------- Buddhi Hasanka ----------


.col-lg-4.col-sm-4.col-xs-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .mat-raised-select {
    padding: 10px;
    width: 80px !important;
  }

  .mat-select-lable {
    margin: 0px;
    padding: 10px;
    font-size: 14px !important;
  }

  @media (max-width: 680px) {
    .table.table-hover thead tr {
      position: inherit;
    }
  }
