<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-title>
    <div class="card-title-text">Survey Summary</div>
    <mat-divider></mat-divider>

    <div class="profile-actions text-right mb-1">
      <div class="m-333">
        <button mat-raised-button class="mb-05" (click)='openSurveyPopup({},true)' color="primary">Add Survey</button>
      </div>
    </div>


  </mat-card-title>
  <mat-card-content class="p-0">
    <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
      [limit]="5" [rows]="rows">
      <ngx-datatable-column name="Survey Topic" [minWidth]="250" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.topic}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Survey Type" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-chip mat-sm-chip color="primary" [selected]="true">{{row?.type =='P' ? 'Product' : 'E Vote'}}</mat-chip>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Survey Source" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.productId}}
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Start Date" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.startDate}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="End Date" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.endDate}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button mat-sm-button (click)='navigateSurveyBuilder(row)' color="primary" class="mr-1">
            <mat-icon>view_headline</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button (click)='openSurveyPopup(row,false)' color="primary" class="mr-1">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button mat-sm-button (click)="deleteSurvey(row)" color="warn" class="mr-1">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <ngx-datatable class="material fullscreen bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [limit]="5" [rows]="rows">
      <ngx-datatable-column name="Survey Topic" [minWidth]="250" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.topic}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Survey Type" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <mat-chip mat-sm-chip color="primary" [selected]="true">{{row?.type =='P' ? 'Product' : 'E Vote'}}</mat-chip>
        </ng-template>
      </ngx-datatable-column>
      <!-- <ngx-datatable-column name="Survey Source" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.productId}}
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Start Date" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.startDate}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="End Date" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row?.endDate}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Action" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex.sm="33">
              <button mat-icon-button mat-sm-button (click)='navigateSurveyBuilder(row)' color="primary" class="">
                <mat-icon>view_headline</mat-icon>
              </button>
            </div>
            <div fxFlex.sm="33">
              <button mat-icon-button mat-sm-button (click)='openSurveyPopup(row,false)' color="primary" class="">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div flex="33">
              <button mat-icon-button mat-sm-button (click)="deleteSurvey(row)" color="warn" class="">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

  </mat-card-content>
</mat-card>