<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-content class="p-0">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="100" class="pr-1">
        <mat-tab-group>
          <mat-tab label="Instant Feedback">
            <p style="padding-left:10px;">Instant Feedback Page</p>
          </mat-tab>
          <mat-tab label="Events">
            <p style="padding-left:10px;">Events Page</p>
          </mat-tab>
          <mat-tab label="Offers">
            <p style="padding-left:10px;">Offers Page</p>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card-content>
</mat-card>
