<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <mat-card-title>
    <div class="card-title-text">Roles</div>
    <mat-divider></mat-divider>

    <div class="m-333">
      <button mat-raised-button class="mb-05 ml-05" color="primary" (click)="openPopUp({}, true)"  [roleAuthorization]="'pur-c'">Add Role</button>
      <span fxFlex></span>
      <p class="mat-select-lable"> Page Size: </p>
      <mat-select class="mat-raised-select" [(value)]="pageSize" (selectionChange)="changeValue()">
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="20">20</mat-option>
      </mat-select>
    </div>

  </mat-card-title>
  <mat-card-content class="p-0">

    <ngx-datatable class="material ml-0 mr-0" [rows]="roles" [columnMode]="'flex'" [headerHeight]="50"
      [footerHeight]="50" [limit]="10" [rowHeight]="'auto'">
      <ngx-datatable-column name="Role Name" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row?.name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Actions" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>

          <span fxFlex></span>
          <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editRole(row)" [roleAuthorization]="'pur-u'">
              <mat-icon>edit</mat-icon>Edit
            </button>
            <button mat-menu-item (click)="deleteRole(row)" [roleAuthorization]="'pur-d'">
              <mat-icon>delete</mat-icon>Delete
            </button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </mat-card-content>
</mat-card>