<!-- <div
  fxLayout="column-reverse"
  fxLayout.lt-sm="column"
  fxLayoutWrap="wrap"
></div>

<div class="survey-container contentcontainer codecontainer">
  <div id="surveyElement"></div>
</div> -->
<div fxLayout="row" fxLayoutWrap="wrap" id="background-image" class="background-future-survey-view">

  <div fxFlex="100" text-right class="pr-0">
    <div class="profile-actions text-right mb-1">
      <div class="m-333">
        <button mat-raised-button class="mb-05" (click)="navigateToSurveyEditor()" color="accent">
          Back To Catalog
        </button>
      </div>
    </div>
  </div>

  <div id="languageDD">
    <mat-card layout-align="center center">
      <!-- should be change as a different css files-->
      <div class="row">
        <div class="col-sm-5">
          <mat-label>Select Language</mat-label>
        </div>
        <div class="col-sm-7">
          <mat-select [(value)]="currentLang" (selectionChange)='changeDefaultLang()'>
            <mat-option *ngFor="let lang of supportLangs" [value]="lang">{{lang.name}}</mat-option>
          </mat-select>
        </div>
      </div>
    </mat-card>
  </div>

  <div fxFlex="100" id="main-survey-div" fxLayoutAlign="center center">
    <div class="survey-form-hold-fsv">
      <mat-card class="survey-mat-card">
        <!-- <div class="survey-container contentcontainer codecontainer"> -->
        <mat-card-content>
          <div id="surveyElement" class="survey-view"></div>
        </mat-card-content>
        <!-- </div> -->
      </mat-card>

    </div>
  </div>
  <div id="survey-view-footer-fsv">
    <div class="container custom-center">
      <span>Powered by</span>
      <!-- <img src="assets/images/cp_logo_text.png" alt=""> -->
      <img src="assets/images/truverus/TruVerus_Logo_small.png" alt="">
    </div>
  </div>
</div>

<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="container" >
  <div class="survey-container contentcontainer codecontainer">

    <div id="surveyElement" ></div>

  </div>
  </mat-card>
</div> -->



<!--
  <mat-card class="profile-sidebar mb-1 pb-0">
    <mat-card-title>

        <div class="card-title-text">Clear Picture - Future Survey Viewer</div>

        <div class="profile-actions text-right mb-1">
          <div class="m-333">
            <button  mat-raised-button class="mb-05" (click)="navigateToSurveyEditor()" color="accent">Back to Survey List</button>
          </div>
        </div>

    </mat-card-title>
  </mat-card>
-->

<!--
  <form [formGroup]="surveyViewForm">
    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="wrap"

    >
      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="surveyViewForm.controls['voter']"
            required
            name="voter"
            positiveNumberAndLetterOnly
            placeholder="Voter Name"
          />
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1">
        <mat-form-field class="full-width">
          <input
            matInput
            [formControl]="surveyViewForm.controls['email']"
            required
            name="email"
            letterOnly
            placeholder="Voter Email"
          />
        </mat-form-field>
      </div>

      <div fxFlex="25" class="pr-1"></div>

      <div fxFlex="25" text-right class="pr-0">
          <div class="profile-actions text-right mb-1">
              <div class="m-333">
                <button  mat-raised-button class="mb-05" (click)="navigateToSurveyEditor()" color="accent">Back to Survey List</button>
              </div>
            </div>

      </div>
    </div>
  </form>
-->