.survey-form-hold-fsv {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  #survey-view-footer-fsv {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 100px 20px 20px;
    margin-bottom: 1px;
    img {
      display: block;
      margin: auto;
      width: 200px;
    }
    span {
      font-size: 10px;
    }
  }
  